.footer {
  margin-top: calc(44px + (134 - 44) * ((100vw - 375px) / (1440 - 375)));
}

.footer p {
  font-family: var(--font);
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  text-align: center;

  color: #bdbdbd;
}

.footer a {
  text-decoration: none;

  color: #bdbdbd;
}

.footer a:hover {
  font-weight: 600;

  color: #4e5150;
}
