.hero-container {
  display: grid;
  grid-template-columns: 8.333% 8.333% 8.333% 8.333% 8.333% 8.333% 8.333% 8.333% 8.333% 8.333% 8.333% 8.333%;
}

.col-6 {
  grid-column: 1 / 7;
}

.col-5 {
  grid-column: 8 / 13;
}

@media screen and (max-width: 992px) {
  .col-5 {
    grid-column: 1 / 13;
    margin-bottom: 40px;
  }

  .col-6 {
    grid-column: 1 / 13;
    order: 1;
  }
}
