.header {
  text-align: center;
  margin-bottom: var(--space-lg);
  font-weight: 600;
}

.image-box img {
  font-size: calc(102px + (156 - 102) * ((100vw - 375px) / (1440 - 375)));
  width: 1em;
  height: 1em;
  border-radius: 16px;
  margin-bottom: var(--space-sm);
}

.profile-bio {
  margin-bottom: var(--space-md);
}

.name {
  font-size: var(--text-lg);
  line-height: var(--line-lg);
  margin-bottom: var(--space-xs);
  color: #4e5150;
}

.country {
  font-size: var(--text-xs);
  line-height: var(--line-xs);

  color: #a9a9a9;
}

.social-number {
  font-size: var(--text-md);
  line-height: var(--line-md);

  color: #4e5150;
}

.social-text {
  font-size: var(--text-sm);
  line-height: var(--line-sm);

  color: #bdbdbd;
}

.social-info {
  display: flex;
  justify-content: center;
}

.post-box,
.follower-box,
.following-box {
  width: calc(78px + (100 - 78) * ((100vw - 375px) / (1440 - 375)));
  height: calc(52px + (67 - 52) * ((100vw - 375px) / (1440 - 375)));
  border-radius: 12px;
  margin: 0 calc(8px + (12 - 8) * ((100vw - 375px) / (1440 - 375)));
  background-color: #e5e5e5;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
