.Skills {
  grid-column: 1 / 13;

  border-radius: $b-radius;
  padding: 1rem;
  background-color: #ffffff;
  box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);

  @include mq("tablet") {
    padding: 1.5rem;
  }

  @include mq("desktop") {
    grid-area: S;
    padding: 2rem;
  }

  @include mq("large") {
    padding: 2.5rem;
  }

  &-title {
    font: $text-lg;
    font-weight: 700;
    color: $grey-2;
    margin-bottom: 0.6rem;

    @include mq("tablet") {
      margin-bottom: 1rem;
    }

    @include mq("desktop") {
      margin-bottom: 1.2rem;
    }

    @include mq("large") {
      margin-bottom: 1.5rem;
    }
  }

  &-item {
    &:not(:last-child) {
      margin-bottom: 0.6rem;

      @include mq("tablet") {
        margin-bottom: 1rem;
      }

      @include mq("desktop") {
        margin-bottom: 1.2rem;
      }

      @include mq("large") {
        margin-bottom: 1.5rem;
      }
    }
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font: $text-md;
    font-weight: 500;
    color: $grey-2;

    &-bar {
      width: 60%;
      border-radius: $b-radius;
      background-color: #c4c4c4;
      height: 0.5rem;

      @include mq("tablet") {
        height: 0.7rem;
      }

      @include mq("desktop") {
        height: 0.8rem;
      }

      @include mq("large") {
        height: 0.9rem;
      }

      div {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        border-radius: $b-radius;
        background-color: $blue;

        @include mq("tablet") {
          padding-top: 0.35rem;
          padding-bottom: 0.35rem;
        }

        @include mq("desktop") {
          padding-top: 0.4rem;
          padding-bottom: 0.4rem;
        }

        @include mq("large") {
          padding-top: 0.45rem;
          padding-bottom: 0.45rem;
        }
      }

      @keyframes load {
        from {
          width: 0%;
        }
      }

      &-react {
        animation-name: load;
        animation-duration: 4s;
        width: 60%;
      }
      &-javascript {
        animation-name: load;
        animation-duration: 4s;
        width: 80%;
      }
      &-css {
        animation-name: load;
        animation-duration: 4s;
        width: 90%;
      }
      &-vue {
        animation-name: load;
        animation-duration: 4s;
        width: 60%;
      }
      &-redux {
        animation-name: load;
        animation-duration: 4s;
        width: 70%;
      }
      &-reactNative {
        animation-name: load;
        animation-duration: 4s;
        width: 90%;
      }
    }
  }
}
