@import url("https://fonts.googleapis.com/css2?family=Lora:wght@500;700&display=swap");

.left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left-side h1 {
  font: normal 500 var(--text-xl) "Lora", serif;
  line-height: 61px;
  padding-bottom: 40px;
}
.left-side p {
  font-size: var(--text-lg);
  font-weight: 400;
  line-height: 29px;
  padding-bottom: 48px;
}

.left-side span {
  font: normal 700 var(--text-md);
  line-height: 22px;
}

.read-more-div {
  display: flex;
}

.read-more-div i {
  margin-left: 14px;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 18px;
}

/* Media Queries */
@media screen and (max-width: 992px) {
  .left-side p {
    font-size: var(--text-md);
    line-height: 25px;
  }
}

@media screen and (max-width: 576px) {
  .left-side h1 {
    font-size: 36px;
    line-height: 46px;
    padding-bottom: 25px;
  }

  .left-side p {
    font-size: var(--text-sm);
    font-weight: 400;
    line-height: 17px;
    padding-right: 100px;
    padding-bottom: 25px;
  }

  .left-side span {
    font-size: var(--text-sm);
    line-height: 17px;
  }

  .read-more-div i {
    margin-left: 15px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 14px;
  }

  .read-more-div {
    padding-bottom: 37px;
  }
}
