$max-width: 1332px;
$header-height: 9.6rem;
$space: 1.5rem;
$offset: calc(14px + (54 - 14) * ((100vw - 375px) / (1400 - 370)));

$finger-size: 4rem;

// colors
$grey-1: #333333;
$grey-2: #4f4f4f;
$grey-3: #828282;
$grey-4: #bdbdbd;
$grey-5: #e0e0e0;
$grey-6: #f2f2f2;

$blue: #2d9cdb;
$green: #27ae60;
$red: #eb5757;
