@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.header {
    padding-top: 110px;
}

.header-title {
    font-family: 'PT Serif', serif;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 3rem;
    letter-spacing: -0.045em;

    color: #000000;
}

.header-right-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.688rem;

    color: #000000;

    display: flex;
    justify-content: flex-start;
}

.right-description {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.688rem;

    color: #000000;

    text-align: start;
    max-width: 439px;
}

/* Media Query */
@media screen and (max-width: 768px) {
    .header {
        padding-top: 71px;
    }

    .header-title {
        display: flex;
        justify-content: flex-start;
    }

    .header-right-title {
        margin-top: 30px;
    }

    .right-description {
        font-size: 0.875rem;
        line-height: 1.313rem;
    }
  }