.Hero {
  min-height: calc(100vh - 200px);
  @include mq("tablet") {
    min-height: calc(100vh - 250px);
  }

  margin-bottom: 10rem;
  .wrapper > :not(&-arc) {
    padding-right: $space * 2;
    padding-left: $space * 2;

    @include mq("desktop") {
      padding-right: $space * 10;
      padding-left: $space * 10;
    }

    @include mq("large") {
      padding-right: $space * 12;
      padding-left: $space * 12;
    }
  }

  &-text {
    font-weight: 500;
    color: $blue;
    font-size: 1.2rem;

    @include mq("tablet") {
      font-size: 1.4rem;
      padding-bottom: 0.5rem;
    }

    @include mq("desktop") {
      font-size: 1.6rem;
    }

    @include mq("large") {
      font-size: 1.8rem;
    }
  }

  &-topTitle {
    @extend .main-title;
    max-width: 21ch;
    padding-bottom: $space;

    @include mq("tablet") {
      padding-bottom: $space * 2;
    }

    @include mq("desktop") {
      max-width: 30ch;
    }

    @include mq("large") {
      max-width: 30ch;
      padding-bottom: 4.2rem;
    }
  }

  &-arc {
    @include mq("tablet") {
      margin-bottom: 3rem;
    }

    @include mq("desktop") {
      position: relative;
      height: 0;
      padding-top: calc(354 / 1332 * 100%);
      margin-bottom: 2.2rem;
    }

    @include mq("large") {
      margin-bottom: 4.2rem;
    }

    &-image {
      width: 100%;
      border-radius: 18px;
      margin-bottom: 2.2rem;

      @include mq("desktop") {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &-botTitle {
    @extend .main-title;
    max-width: 16ch;
    padding-bottom: 3.3rem;

    @include mq("tablet") {
      padding-bottom: 3.6rem;
    }

    @include mq("desktop") {
      max-width: 24ch;
    }

    @include mq("large") {
      max-width: 26ch;
      padding-bottom: 4.2rem;
    }
  }

  &-description {
    max-width: 44ch;
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-weight: 400;
    color: $grey-2;
    padding-bottom: 3rem;

    @include mq("tablet") {
      font-size: 1.4rem;
      padding-bottom: 3.4rem;
      line-height: 2rem;
    }

    @include mq("desktop") {
      font-size: 1.6rem;
      max-width: 64ch;
      line-height: 2.4rem;
    }

    @include mq("large") {
      max-width: 70ch;
      padding-bottom: 4.2rem;
      line-height: 2.7rem;
    }
  }
}
